body {
  font-family: Robot, sans-serif;
  margin: auto;
  width: 100%;
}

.top,
.footer {
  background-color: #1f2937;
}

.hero-main-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-secondary-text,
.header-link-text {
  font-size: 18px;
  color: #e5e7eb;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

.header {
  display: flex;
  justify-content: space-around;
  padding-top: 16px;
  align-items: center;
}

.header-link-text {
  display: flex;
}

.subtext img {
  width: 150px;
  height: 150px;
  border: 2px solid #3882f6;
  border-radius: 12px;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 128px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 450px;
  gap: 16px;
}

.image-placeholder img {
  width: 420px;
  height: auto;
}

.sign-up-button {
  background-color: #3882f6;
  color: white;
  font-weight: 700;
  border-radius: 6px;
  padding: 8px 24px;
  border: 0;
  width: 100px;
}

.information {
  display: flex;
  flex-direction: column;
}

.information-header {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 40px;
}

.information-cards {
  display: flex;
  justify-content: space-around;
  width: 800px;
  padding-left: 500px;
}

.subtext {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100px;
}

.quote {
  padding-top: 100px;
  padding-bottom: 64px;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-body {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  width: 830px;
  display: flex;
  flex-direction: column;
  align-items: end;
  font-style: italic;
}

.attribution {
  color: #1f2937;
  font-weight: 900;
  font-size: 24px;
  font-style: normal;
  padding-bottom: 24px;
}

.bar {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 32px;
  display: flex;
  border-radius: 8px;
  max-width: 900px;
  justify-content: space-around;
  align-items: center;
  margin: 72px auto;
}

.action {
  display: flex;
  flex-direction: column;
}

.action-heading {
  font-size: 16px;
  font-weight: 900;
}

.action-text {
  font-size: 12px;
}

.footer {
  color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.bar button {
  padding: 8px 32px;
  font-weight: 700;
  color: #f9faf8;
  background-color: #3882f6;
  border: 2px solid #f9faf8;
  border-radius: 6px;
}
